version: "3.3"
services:
  minecraftserver:
    image: itzg/minecraft-server
    container_name: minecraftserver
    hostname: minecraft_host
    ports:
      - 25567:25567
      - 8100:8100
      - 25575:25575
      - 24454:24454/udp
    volumes:
      - "/mnt/user/appdata/minecraftserver:/data"
    tty: true
    stdin_open: true
    environment:
      UID: 99
      GUID: 100
      TYPE: FABRIC
      FABRIC_LOADER_VERSION: 0.14.22
      MAX_TICK_TIME: -1
      LEVEL: "New World"
      VERSION: 1.19.2
      PVP: "TRUE"
      ALLOW_FLIGHT: "TRUE"
      EULA: "TRUE"
      DIFFICULTY: "hard"
      SEED: -56712350
      MAX_PLAYERS: 18
      MAX_WORLD_SIZE: 300000
      ALLOW_NETHER: "TRUE"
      TZ: "America/Los_Angeles"
      ANNOUNCE_PLAYER_ACHIEVEMENTS: "TRUE"
      ENABLE_COMMAND_BLOCK: "TRUE"
      GENERATE_STRUCTURES: "TRUE"
      VIEW_DISTANCE: 20
      SIMULATION_DISTANCE: 8
      OPS: user
      MAX_BUILD_HEIGHT: 256
      SPAWN_PROTECTION: 1
      MODE: survival
      MOTD: "§c§lFeliz Jueves!"
      MEMORY: "16G"
      SERVER_PORT: 25567
      CONSOLE: "FALSE"
      GUI: "FALSE"
      ENABLE_RCON: true
      RCON_PASSWORD: "carlitos"
      RCON_PORT: 25575
      ENABLE_AUTOPAUSE: "FALSE"
      DEBUG_AUTOPAUSE: false
      USE_AIKAR_FLAGS: "true"
      # USE_SIMD_FLAGS: "true"
      ENABLE_ROLLING_LOGS: "true"
      DATAPACKS: "https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/CobblemonLoot-v1.0.1.zip, https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/CobblemonMissingRecipes-1.0.zip, https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/HeistedMonsv1.2.zip, https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/Item%20Balls%20v1.1%20%5B1.19.2-v1.3.1%5D.zip, https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/Legendary_Encounters%21.zip, https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/legendarystructures_v1.0.2.zip,https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/QLAPS-OfficialDex.zip,  https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/Shinier%20Shinies%20v1.1%20%5B1.19.2-v1.3%2B%5D.zip, https://files.jbpixel.xyz/minecraft-server-public-resources/datapacks/pokenests_v2.0.zip"
      RESOURCE_PACK: "https://files.jbpixel.xyz/minecraft-server-public-resources/resourcepack/HeistedMonsResourcesv1.2.zip"
      RESOURCE_PACK_ENFORCE: "TRUE"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 2
      resources:
        limits:
          memory: 18G
          cpus: "0.90"
        reservations:
          memory: 10G

    # healthcheck:
    #   test: mc-health
    #   start_period: 1m
    #   interval: 5s
    #   retries: 20