# Docker Compose configuration for Crafty - Minecraft server manager

version: '3'

services:
  # Crafty - Docker service
  crafty:
    container_name: crafty_container
    hostname: crafty_container_host
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    restart: unless-stopped
    environment:
        - PUID=99
        - PGID=100
        - TZ=America/Los_Angeles
    ports:
        - "8001:8000" # HTTP
        - "8443:8443" # HTTPS
        - "8124:8123" # DYNMAP
        - "19132:19132/udp" # BEDROCK
        - "25500-25600:25500-25600" # MC SERV PORT RANGE
    volumes:
        - /mnt/user/appdata/crafty/backups:/crafty/backups
        - /mnt/user/appdata/crafty/logs:/crafty/logs
        - /mnt/user/appdata/crafty/servers:/crafty/servers
        - /mnt/user/appdata/crafty/config:/crafty/app/config
        - /mnt/user/appdata/crafty/import:/crafty/import