# Docker Compose configuration for Grafana - Metrics visualization

services:
  # Grafana - Metrics visualization and monitoring
  grafana:
    image: grafana/grafana-oss
    user: 99:100
    hostname: grafana
    ports:
      - 3333:3000
    restart: unless-stopped
    volumes:
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - /mnt/user/appdata/grafana:/var/lib/grafana
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # InfluxDB - Time-series database
  influxdb:
    image: influxdb:latest
    container_name: influxdb2
    hostname: influxdb
    volumes:
      - /mnt/user/appdata/influxdb:/var/lib/influxdb2:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro

    #    env_file:
    #      - .env
    #    entrypoint: ["./entrypoint.sh"]
    ports:
      - 8086:8086
    restart: unless-stopped
