# Docker Compose configuration for JDownloader 2 - Download manager

version: '3.3'
services:
  # Jdownloader-2 - Docker service
  jdownloader-2:
    container_name: jdownloader-2
    ports:
      - '188:80'
      - '5800:5800'
    volumes:
      - '/mnt/user/appdata/jdownloader-2:/config:rw'
      - '/mnt/sata_cache/jdownloads:/output:rw'
      - '/mnt/user/:/mounts'
    restart: unless-stopped
    logging:
      options:
        max-size: 1g
    image: jlesage/jdownloader-2
