# Docker Compose configuration for Plex Media Server - Media streaming

services:
    plex:
        image: binhex/arch-plexpass:latest
        container_name: plex
        hostname: plex
        environment:
            - PGID=99
            - PUID=100
            - UMASK=000
            #- TRANS_DIR=/transcode
        volumes:
            - "/etc/localtime:/etc/localtime:ro"
            - "/mnt/user/appdata/plex:/config"
            - "/mnt/user/media/:/media"
            - "/tmp:/tmp"
        #network_mode: host
        ports:
            - 32400:32400
        restart: unless-stopped
        devices:
            - /dev/dri/card0:/dev/dri/card0
            - /dev/dri/renderD128:/dev/dri/renderD128

    # overseerr:
    #     image: sctx/overseerr:latest
    #     container_name: overseerr
    #     hostname: overseerr
    #     environment:
    #         PORT: "5055"
    #         TZ: "America/Los_Angeles"
    #     ports:
    #         - 505:5055
    #     volumes:
    #         - "/mnt/user/appdata/overseerr/config:/app/config"
    #     restart: unless-stopped

    # tautulli:
    #     image: ghcr.io/tautulli/tautulli
    #     container_name: tautulli
    #     restart: unless-stopped
    #     volumes:
    #         - /mnt/user/appdata/tautulli:/config
    #     environment:
    #         - PUID=99
    #         - PGID=100
    #         - TZ=America/Los_Angeles
    #     ports:
    #         - 8181:8181
    #     depends_on:
    #         - plex

    # posteria:
    #     image: bozodev/posteria:latest
    #     container_name: posteria
    #     ports:
    #     - "1818:80"
    #     depends_on:
    #         - plex
    #     environment:
    #     - SITE_TITLE=Posteria
    #     - AUTH_USERNAME=${AUTH_USERNAME} # Change this!
    #     - AUTH_PASSWORD=${AUTH_PASSWORD} # Change this!
    #     - SESSION_DURATION=3600 # In seconds
    #     - IMAGES_PER_PAGE=24
    #     - MAX_FILE_SIZE=5242880 # In bytes

    #     - PLEX_SERVER_URL=${PLEX_SERVER_URL}
    #     - PLEX_TOKEN=${PLEX_TOKEN}
    #     - PLEX_REMOVE_OVERLAY_LABEL=false # Set to true for Kometa compatibility

    #     - IGNORE_ARTICLES_IN_SORT=true # Set to false to sort with articles (A, An, The) included
    #     - SORT_BY_DATE_ADDED=true # Set to true to sort by Recently Added date in Plex instead of Alphabetically

    #     - AUTO_IMPORT_ENABLED=true # Enable/disable auto-import
    #     - AUTO_IMPORT_SCHEDULE=24h # Schedule 24h, 12h, 6h, 3h, 1h
    #     - AUTO_IMPORT_MOVIES=true # Import Movie posters
    #     - AUTO_IMPORT_SHOWS=true # Import TV Show posters
    #     - AUTO_IMPORT_SEASONS=true # Import TV season posters
    #     - AUTO_IMPORT_COLLECTIONS=true # Import Collection posters
    #     volumes:
    #     - /mnt/user/appdata/posteria/posters/movies:/var/www/html/posters/movies
    #     - /mnt/user/appdata/posteria/posters/tv-shows:/var/www/html/posters/tv-shows
    #     - /mnt/user/appdata/posteria/posters/tv-seasons:/var/www/html/posters/tv-seasons
    #     - /mnt/user/appdata/posteria/posters/collections:/var/www/html/posters/collections
    #     - /mnt/user/appdata/posteria/data:/var/www/html/data # Logs are found here
    #     restart: unless-stopped