# Docker Compose configuration for Jellyfin - Media server

services:
  # Jellyfin - Media server for movies, TV shows and music
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    hostname: jellyfin_host
    environment:
      - PUID=99
      - PGID=100
      - TZ=America/Los_Angeles
     # - JELLYFIN_PublishedServerUrl="https://jellyfin.{DOMAIN}" #optional
    volumes:
      - /mnt/user/appdata/jellyfin/config:/config
      - /mnt/user/media/:/media
      - "/etc/localtime:/etc/localtime:ro"
      - "/tmp:/transcode"

    ports:
      - 8096:8096
      - 8920:8920 #optional
    restart: unless-stopped
    devices:
        - /dev/dri/card0:/dev/dri/card0
        - /dev/dri/renderD128:/dev/dri/renderD128

  # Jellyseerr - Content request management for Jellyfin
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    hostname: jellyseerr_host
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Los_Angeles
    ports:
      - 5055:5055
    volumes:
      - /mnt/user/appdata/config:/app/config
    restart: unless-stopped
  # Jfa-Go - Docker service
  jfa-go:
    container_name: jfa-go
    hostname: jfa-go_host
    restart: unless-stopped
    ports:
      - '8056:8056'
      - '8057:8057'
    volumes:
      - '/mnt/user/appdata/jfa-go:/data'
      - '/mnt/user/appdata/jellyfin/config:/jf'
      - '/etc/localtime:/etc/localtime:ro'
    image: hrfee/jfa-go
