# Docker Compose configuration for Plausible - Privacy-focused analytics

version: "3.3"
services:
  # Mail - Docker service
  mail:
    image: bytemark/smtp
    restart: always

  # Plausible_Db - Docker service
  plausible_db:
    image: postgres:12
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
    networks:
      - nginxpm_default
  # Plausible_Events_Db - Docker service
  plausible_events_db:
    image: yandex/clickhouse-server:21.3.2.5
    restart: always
    volumes:
      - event-data:/var/lib/clickhouse
      - ./clickhouse/clickhouse-config.xml:/etc/clickhouse-server/config.d/logging.xml:ro
      - ./clickhouse/clickhouse-user-config.xml:/etc/clickhouse-server/users.d/logging.xml:ro
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    networks:
      - nginxpm_default
  # Plausible - Privacy-focused analytics
  plausible:
    image: plausible/analytics:latest
    restart: always
    hostname: plausible_host
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh db init-admin && /entrypoint.sh run"
    depends_on:
      - plausible_db
      - plausible_events_db
      - mail
    #ports:
      #- 8000:8000
    networks:
      - nginxpm_default
    environment:
      - ADMIN_USER_EMAIL=jbrampixel@gmail.com
      - ADMIN_USER_NAME=jbpixel
      - ADMIN_USER_PWD=adminpassword
      - BASE_URL=http://127.0.0.1:8000
      - SECRET_KEY_BASE=Soylr7ygj9UqOVHs0H5AkU2ggdtVYuLDtG9m7OjaBLsOBZVyNX6mW6UyaPCOAeym


volumes:
  # Db-Data - Docker service
  db-data:
    driver: local
  # Event-Data - Docker service
  event-data:
    driver: local
  # Geoip - Docker service
  geoip:
    driver: local

networks:  
  # Nginxpm_Default - Docker service
  nginxpm_default:
    external: true
    name: nginxpm_default