# Docker Compose configuration for Umami - Privacy-focused analytics

version: '3'
services:
  # Umami - Privacy-focused analytics
  umami:
    image: ghcr.io/mikecao/umami:postgresql-latest

    hostname: umami_host
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://umami:umami@db:5432/umami
      DATABASE_TYPE: postgresql
      HASH_SALT: "chumlair"
    depends_on:
      - db
    restart: always
  # Db - Docker service
  db:
    image: postgres:12-alpine
    hostname: umami_db
    environment:
      POSTGRES_DB: umami
      POSTGRES_USER: umami
      POSTGRES_PASSWORD: umami
    volumes:
    
      - ./sql/schema.postgresql.sql:/docker-entrypoint-initdb.d/schema.postgresql.sql:ro
      - umami-db-data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD", "/bin/check-health"]
      interval: 10s
      timeout: 3s
volumes:
  # Umami-Db-Data - Docker service
  umami-db-data:
