# Docker Compose configuration for Stable Diffusion - AI image generation

version: '3.9'
name: webui-docker
services:
  # Download - Docker service
  download:
    build: ./services/download/
    profiles: ["download"]
    volumes:
      - *v1

  auto: &automatic
    <<: *base_service
    profiles: ["auto"]
    build: ./services/AUTOMATIC1111
    image: sd-auto:35
    environment:
      - CLI_ARGS=--allow-code --medvram --xformers --enable-insecure-extension-access --api

  # Auto-Cpu - Docker service
  auto-cpu:
    <<: *automatic
    profiles: ["auto-cpu"]
    deploy: {}
    environment:
      - CLI_ARGS=--no-half --precision full

  # Invoke - Docker service
  invoke:
    <<: *base_service
    profiles: ["invoke"]
    build: ./services/invoke/
    image: sd-invoke:18
    environment:
      - PRELOAD=true
      - CLI_ARGS=


  sygil: &sygil
    <<: *base_service
    profiles: ["sygil"]
    build: ./services/sygil/
    image: sd-sygil:16
    environment:
      - CLI_ARGS=--optimized-turbo
      - USE_STREAMLIT=0

  # Sygil-Sl - Docker service
  sygil-sl:
    <<: *sygil
    profiles: ["sygil-sl"]
    environment:
      - USE_STREAMLIT=1


x-base_service: &base_service
    ports:
      - "7860:7860"
    volumes:
      - &v1 ./data:/data
      - &v2 ./output:/output
    deploy:
      resources:
        reservations:
          devices:
              - driver: nvidia
                device_ids: ['0']
                capabilities: [gpu]