# Docker Compose configuration for Cryptgeon - Encrypted message passing

# docker-compose.yml
version: '3.7'
services:
  # Memcached - Docker service
  memcached:
    image: memcached:1-alpine
    entrypoint: memcached -m 1024M -I 256M # Limit to 128 MB Ram, 4M per entry, customize at free will.
    hostname: cryptgeonmemcached_host
    container_name: cryptgeoncache
    restart: unless-stopped
    networks:
      - nginxpm_default
  # App - Docker service
  app:
    image: cupcakearmy/cryptgeon:latest
    hostname: cryptgeon_host
    container_name: cryptgeon_frontend
    restart: unless-stopped
    depends_on:
      - memcached
    environment:
      SIZE_LIMIT: 1024M
      ALLOW_ADVANCED: "true"
    # ports:
    #   - 80:5000
    labels:
        flame.icon: https://raw.githubusercontent.com/walkxhub/dashboard-icons/master/png/cryptgeon.png
        flame.name: Cryptgeon
        flame.type: app
        flame.url: pigeon.{DOMAIN}
    networks:
      - nginxpm_default
    healthcheck:
      test: ["CMD", "/bin/check-health"]
      interval: 10s
      timeout: 3s
networks:
  # Nginxpm_Default - Docker service
  nginxpm_default:
    attachable: true
    name: nginxpm_default
