services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: homeassistant
    network_mode: host
    environment:
      - PUID=99
      - PGID=100
      - TZ=America/Los_Angeles
    volumes:
      - /mnt/user/appdata/homeassistant:/config
      - /mnt/user/media:/media
    restart: unless-stopped
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
  frigate:
    container_name: frigate
    image: ghcr.io/blakeblackshear/frigate:0.16.1
    shm_size: "160mb" # update for your cameras based on calculation above
    privileged: true
    cap_add:
      - CAP_PERFMON
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/user/appdata/frigate/config/:/config/
      - /mnt/user/recordings:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 5000000000
    ports:
      - "5500:5000"
      - "1935:1935" # RTMP feeds
      - "8554:8554"
    environment:
      - FRIGATE_RTSP_PASSWORD= "password"
    restart: unless-stopped
    devices:
      - /dev/dri/card0:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128
    deploy: 
      resources:
        limits:
          memory: 12G
        reservations:
          memory: 6G
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    hostname: mosquitto_host
    volumes:
      - /mnt/user/appdata/mosquitto/config:/mosquitto/config/
      - /mnt/user/appdata/mosquitto/log/:/mosquitto/log/
      - /mnt/user/appdata/mosquitto/data/:/mosquitto/data/
    ports:
      - 1883:1883
      - 9901:9001

  # music-assistant-server:
  #     image: ghcr.io/music-assistant/server:latest # <<< Desired release version here (or use beta to get the latest beta version)
  #     container_name: music-assistant-server
  #     restart: unless-stopped
  #     # Network mode must be set to host for MA to work correctly
  #     network_mode: host
  #     volumes:
  #       - /mnt/user/appdata/music-assistant-server/data:/data/
  #     # privileged caps (and security-opt) needed to mount smb folders within the container
  #     cap_add:
  #       - SYS_ADMIN
  #       - DAC_READ_SEARCH
  #     security_opt:
  #       - apparmor:unconfined
  #     environment:
  #       # Provide logging level as environment variable.
  #       # default=info, possible=(critical, error, warning, info, debug)
  #       - LOG_LEVEL=info