# Docker Compose configuration for Actual - Personal finance management

version: "3"
services:
  # Actual - Personal finance management application
  actual_server:
    container_name: actual_server
    image: jlongster/actual-server
    hostname: actual_host
    networks:
      - nginxpm_default
    # ports:
    #   - "5006:5006"
    volumes:
      - '/home/jbpixel/Docker/actual/data:/data'

    restart: unless-stopped
networks:  
  # Nginxpm_Default - Docker service
  nginxpm_default:
    external: true
    name: nginxpm_default
